*, *::after, *::before {
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 2rem
}

.calculator {
  width: 30rem;
  background: rgba(173, 216, 230, 0.585);
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.calculator-input {
  width: 96.5%;
  height: 5rem;
  display: block;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  padding-left: 1rem;
  border-radius: 7px;
  background: #fff;
}

.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

button {
  width: 5.8rem;
  height: 4rem;
  font-size: 2rem;
  border: none;
  border-radius: 7px;
  background: rgba(128, 128, 128, 0.35);
}

.operation {
  background-color: lightgoldenrodyellow;
}

.clear {
  background: rgba(255, 68, 0, 0.683);
}